.footer{
    padding: $separacion / 2 0;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenedor-footer {
        padding: $separacion / 2;
    }
    .navegacion {
        opacity: 1;
        visibility: visible;
        height: auto;
    }
    .copyrigth {
        color: $blanco;
        text-align: center;
    }
}